<div class="flex gap-4">
  <div class="flex items-center">
    <p-radioButton name="config" value="app-configuration-1.json" [(ngModel)]="configurationFile"/>
    <label for="ingredient1" class="ml-2">Configuration 1</label>
  </div>

  <div class="flex items-center">
    <p-radioButton name="config" value="app-configuration-2.json" [(ngModel)]="configurationFile"/>
    <label for="ingredient2" class="ml-2">Configuration 2</label>
  </div>

  <div class="flex items-center">
    <p-radioButton name="config" value="app-configuration-3.json" [(ngModel)]="configurationFile"/>
    <label for="ingredient3" class="ml-2">Configuration 3</label>
  </div>
</div>
